*,
*::before,
*::after {
  box-sizing: border-box;
}
.list-box-wrapper {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  & > div {
    flex: 1;
  }
  .list-box-item {
    /*border: solid 1px #cccccc;
    border-radius: 3px;*/
    .search-box {
      border-bottom: solid 1px #cccccc;
      position: relative;
      input {
        border: none;
        width: 100%;
        padding: 0.5rem 1rem;
      }
      .clear-search {
        position: absolute;
        padding: .5rem;
        right: 0;
        top: 0;
        cursor: pointer;
        font-weight: bold;
        color: #e74c3c;
      }
    }
    .list-box {
      height: 250px;
      overflow: auto;
      list-style: none;
      padding: 0;
      margin: 0;
      .list-item {
        padding: 0.5rem 1rem;
        border-bottom: solid 1px #cccccc;
        cursor: pointer;
        // &:last-child {
        //   border: none;
        // }
        &.active {
          background-color: #eeeeee;
        }
      }
    }
    .bulk-action {
      display: flex;
      border-top: solid 1px #cccccc;
      text-align: center;
      .select-all {
        width: 100%;
        padding:0.8rem;
        background-color: #007bff;
        color: #fff;
      }
      .deselect-all {
        width: 100%;
        padding:0.8rem;
        background-color: #6c757d;
        color: #fff;
      }
    }
  }
  .actions {
    flex-grow: 0;
    padding: 0 1rem;
    .btn-action {
      margin-bottom: 0.5rem;
    }
  }
}
.btn-action {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  display: block;
  width: 100%;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
  svg {
    vertical-align: middle;
  }
}
